* {
    margin: 0; padding: 0; list-style: none;
}

body {
    background-image: url("../musicsearch/images/image.jpg");
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 100px;
    font-family: 'Bangers', cursive;
    letter-spacing: 0.01em;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.result {
    color: #fff;
    justify-content: center;
    padding-top: 20px;
}

.result {
    /* display: flex; */
    /* flex-wrap: wrap; */
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.result img {
    /* justify-content: center; */
    height: 100px;
    width: 100px;
}

.result h3 {
    text-align: center;
}

.result p {
    text-align: center;
}

.result a {
    text-align: center;
    color: #fff;
}

.kako {
    background-color: #2e2e2e;
    opacity: 0.5;
}

.memory {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

/*---------------------
フッター
---------------------*/
footer {
	text-align: center;
}

footer p {
	color: #fff;
	font-size: 18px;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}